name: bioflex_app
description: BioFlex - Real-time EMG and GSR Signal Monitoring
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  firebase_core: ^2.24.2
  firebase_database: ^10.4.0
  fl_chart: ^0.66.0
  shimmer: ^3.0.0
  google_fonts: ^6.1.0
  intl: ^0.18.1
  animated_text_kit: ^4.2.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/
