name: smart_parking_app
description: A Flutter app for Smart Parking System with real-time monitoring
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  # Firebase
  firebase_core: ^2.24.2
  firebase_database: ^10.4.0

  # UI
  cupertino_icons: ^1.0.2
  google_fonts: ^6.1.0

  # State Management
  provider: ^6.1.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
